<%- include('partials/header'); -%>
    <section class="home-page text-center">
            <div class="row">
              <div class="col-lg-4">
               <a href="/customers"><img href="/customers" src="/images/img1.jpg" class="home-img" alt=""></a>
               <p><a class="btn btn-dark" href="/customers">View customers</a></p>
                </div>
              <div class="col-lg-4">
               <a href="/transfer"><img src="/images/img2.png" class="home-img" alt=""></a>
               <p><a class="btn btn-dark" href="/transfer">Transfer money</a></p>
            </div>
            <div class="col-lg-4">
                  <a href="/transfer-history"><img src="/images/img3.png" class="home-img" alt=""></a>
                  <p><a class="btn btn-dark" href="/transfer-history">Transfer history</a></p>
              </div>
            </div>
    </section>


    <%- include('partials/footer'); -%>